<!DOCTYPE html>
<html lang="en">

<head>
  <title>CryptoComicMart</title>
  <link rel="icon" type="image/x-icon" href="https://i.ibb.co/yNTr8D3/index.jpg">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7-rc.0/web3.min.js"></script>
  <style>
    body {
      background-color: black;
    }

    .row {
      display: flex;
      flex-direction: row;
    }

    .col-4 {
      padding-left: 1rem;
      padding-right: 1rem;
      margin-right: 2rem;
    }

    input {
      width: 25vw;
      height: 25px;
      font-size: 12px;
      font-family: Arial, Helvetica, sans-serif;
      outline: none;
    }

    #readArea {
      flex-basis: 50%;
    }

    #writeArea {
      flex-basis: 50%;
    }

    button:hover {
      background-color: grey;
    }
  </style>
</head>

<body>
  <nav class="navbar sticky-top navbar-inverse navbar-dark" style="background-color: black !important;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-shopping-cart"></span> CryptoComicMart</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li class="active"><a href="/products">Products</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="active" id="login-button"><a href="/login"><span class="glyphicon glyphicon-log-in"></span>  Log In</a></li>
          <li class="nav-item" id="login-name" style="margin-top: 15px; color: chartreuse;"></li>
          <li class="active" id="logout-button" onclick="logout()"><a href="/"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
        </ul>
      </div>
    </div>
  </nav>

<script>
  // Function to retrieve the username from session storage
  function retrieveLoginName() {
    // Retrieve the username from session storage
    var username = sessionStorage.getItem("username");
    // Check if the username exists
    if (username) {
      // Display the login name in the navbar
      document.getElementById("login-name").innerHTML = "Welcome, " + username;
      // Hide the Log In button
      document.getElementById("login-button").style.display = "none";
      document.getElementById("logout-button").style.display = "block";
    }
  }

  function logout() {
    // Remove item from session storage
    sessionStorage.removeItem("username");
    document.getElementById("login-button").style.display = "block";
    document.getElementById("logout-button").style.display = "none";
  }

  const fetchComicsData = async () => {
    try {
      const response = await fetch("https://f76bda4c-44c7-4714-91a9-d45f4a4cda92.mock.pstmn.io");
      const data = await response.json();
      sessionStorage.setItem('comicsData', JSON.stringify(data));
      console.log('Comics data stored in session storage:', data);
    } catch (error) {
      console.error('Error fetching comics data:', error);
    }
  };

  // Assign both functions to the window.onload event handler
  window.onload = function () {
    fetchComicsData();
    retrieveLoginName();
  };

  function showAlertFooter() {
    alert("Thank You! For your feedback, We will reach out to you shorty.");
  }
</script>