<%- include partials/header.ejs %>
    <div class="container">
        <h6 style="color: aliceblue;">Reading from and Writing to Contract. A seamless way to get contract account details
            along with the abilities to send or
            withdraw ether.</h6>
        <!-- READING FROM CONTRACT -->

        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-info navbar-btn" onclick="getContractAccount()"> Get Contract Account</button>
                <p id="contractAccount" style="color: chartreuse;">Contract Account: Not Connected to Contract</p>
                <!-- Calling the function designed in Transactions.sol get deployment address -->
            </div>
            <div class="col-md-4">
                <button class="btn btn-dark navbar-btn" onclick="getBalanceApple()">
                    <span class="glyphicon glyphicon-user"></span> Get Contract Balance
                </button>
                <p id="balanceArea" style="color: chartreuse;">Balance: Not Connected to Contract</p>
                <!-- CAlling the function designed in Transactions.sol get balance -->
                <!-- index html to meta-->
            </div>
            <div class="col-md-4">
                <div id="writeArea"><!-- WRITING TO CONTRACT -->
                    <button class="btn btn-info navbar-btn" onclick="depositContract()">Send ether to the
                        Contract</button><br>
                    <input type="number" id="depositInput" placeholder="Enter Amount"><br> <br>
                    <!-- Deposit to contract calling on deposit function -->
                </div>
            </div>
            <div class="col-md-4">
                <div id="writeArea=">
                    <button class="btn btn-info navbar-btn" onclick="withdraw()">Withdraw ether to any Address</button> <br>
                    <input type="text" style="margin-bottom: 1rem ;" id="addressInput" placeholder="Enter Address"> <br>
                    <input type="number" style="margin-bottom: 1rem ;" id="amountInput" placeholder="Enter Amount">
                    <!-- Calling the function designed in Transactions.sol -->
                    <!-- Calling the withdraw function -->
                </div>
            </div>
        </div>
    </div>
<%- include partials/footer.ejs %>